name: Publish API Client

on:
  push:
    # branches: ["main"]
    paths:
      - 'packages/api_client_ts/**'
      - '.github/workflows/publish_api_client.yaml'
  workflow_dispatch:

# Allow one concurrent deployment
concurrency:
  group: "api_client"
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow publishment to Github Packages
permissions:
  contents: read
  packages: write

defaults:
  run:
    working-directory: 'packages/api_client_ts'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write 
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-node@v3
      with:
        node-version: '16.x'
        registry-url: 'https://npm.pkg.github.com'
        scope: '@bucketfan'
        token: '${{secrets.GITHUB_TOKEN}}'

    - name: Install Dependencies
      run: npm ci
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # working-directory: 'packages/api_client_ts'

    - name: Publish to Github Packages
      run: npm publish
      # working-directory: 'packages/api_client_ts'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}